.container {
  --option-offset: 25px;
  --option-with-offset: calc(var(--option-radius) - var(--option-offset));
  padding: var(--option-radius) 0 85px;
  opacity: 1;
  transition: opacity 2500ms ease;
  display: flex;
  justify-content: center;
  min-height: 226px;
}

.path {
  position: relative;
  width: 205px;
  height: 206px;
  background: url("../../../assets/images/bg-triangle.svg") no-repeat center;
  background-size: cover;
}

@media (min-width: 900px) {
  .container {
    --option-offset: 22px;
  }

  .path {
    width: 256px;
    height: 235px;
  }
}

.hide {
  opacity: 0;
}

.path > li {
  position: absolute;
}

.path > :first-child {
  top: calc(var(--option-with-offset) * -1);
  left: calc(var(--option-with-offset) * -1);
}

.path > :nth-child(2) {
  top: calc(var(--option-with-offset) * -1);
  right: calc(var(--option-with-offset) * -1);
}

.path > :nth-child(3) {
  bottom: calc(calc(var(--option-with-offset) - var(--option-offset)) * -1);
  left: calc(50% - var(--option-radius));
}
