.container {
  font-size: 18px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid var(--header-outline);
  color: var(--white);
  padding: 10px 40px;
  border-radius: 8px;
  transition: opacity 150ms ease, border 150ms ease;
  letter-spacing: 0.08em;
  width: max-content;
}

.container:not(:disabled):hover {
  border-color: var(--white);
  box-shadow: 0 0 10px 5px var(--elevation-shadow);
}

.container:disabled {
  opacity: 0.3;
}

.solid {
  background: var(--white);
  color: var(--dark-text);
  border-color: var(--white);
}

.solid:not(:disabled):hover {
  color: var(--score-text);
}

.expand {
  width: 100%;
}
