.container {
  --gui-padding: 15px;
  --header-space: calc(var(--header-height) + var(--gui-padding) * 2);
  position: relative;
  min-height: 100vh;
}

.floating {
  position: absolute;
  padding: var(--gui-padding);
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  top: 0;
}

.rules {
  bottom: 0;
}

@media (max-height: 508px) and (max-width: 899px) {
  .rules {
    position: relative;
  }
}

@media (min-width: 900px) {
  .rules {
    justify-content: flex-end;
  }
}
