.svg {
  background: url("../../../assets/images/logo-bonus.svg") no-repeat;
  background-size: contain;
  width: 140px;
  height: 83px;
}

@media (min-width: 900px) {
  .svg {
    background-size: auto;
    width: 161px;
    height: 115px;
  }
}
